.about {
    width: 100%;
    padding: 90px 0 0 0;
    background: url(https://top-fon.com/uploads/posts/2021-07/1626946498_7-p-fon-na-polovinu-krasnii-7.jpg)center/cover fixed;
    margin-bottom: 80px;
}

.about__title {
    color: #FFF;
    font-size: 45px;
}
.about__container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.g__img{
    width: 420px;
}
.g__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.about__text {
    font-size: 22px;
    color: #FFF;
    margin-top: 25px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper__title {
    color: #FFF;
    font-size: 29px;
    margin-top: 90px;
}

.wrapper__text {
    color: rgb(173, 215, 20);
    font-size: 43px;
    font-weight: 700;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}