.container{
    max-width: 660px;
    margin: 0 auto;
    padding: 40px;
    color: rgba(21, 21, 232, 0.37);
    font-size: 22px;
    margin-top: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container:hover{
    opacity: .9;
    transition: .2s;
}


img{
    border-radius: 1000px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;

}

