
.header{
    padding: 15px 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
   
}
.container{
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link{
    color: #FFF;
    font-size: 20px;
    margin-left: 25px;
}
.header__link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }
  
  .header__link::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    height: 1px;
    background: #fff;
    width: 100%;
    transition: 0.3s all;
    transform: scaleX(0);
  }
  
  .header__link:hover::before {
    transform: scaleX(1);
  }
  .header__logo {
    position: relative;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    color: #FFF;
  }
  
  .header__logo::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    height: 1px;
    background: #fff;
    width: 100%;
    transition: 0.3s all;
    transform: scaleX(0);
  }
  
  .header__logo:hover::before {
    transform: scaleX(1);
  }