.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.autorization__container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    justify-content: space-between
  }
.inputs{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.img{
    display: flex;
    justify-content: space-around;
}

.modal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__content{
    padding: 80px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 16px;
}

